// common
$white: #fff;
$black: #000;

// 01. Best Horror Scenes
$red: #e7473c;
$gray: #666;

// 02. Paint Box
$beige: #fbf7f6;
$mint: #dee8e9;

// 03. 10x19
$ocher : #af7832;

// 04. Zoo
$lightGrey: #E0E1E2;


// 06. Tolv
$orange: #ff6429;
$yellow: #efcb56;
$darkGreen: #535851;