.father {
    /* Main axis, Cross axis */
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50vh;
    margin: 0 auto;
    border: 1px solid #ddd;
    font-size: 30px;
}

.child {
    width: 200px;
    height: 200px;
    background-color: blue;
    color: #fff;
}

.child:nth-child(1) {
    flex: 1 1 100px;
}

.child:nth-child(2) {
    flex: 0 0 300px;
    background-color: lightblue;
}

.child:nth-child(3) {
    flex: 2 2 150px;
}